.C p {
  margin-left: 100px;
  margin-right: 100px;
}
.homefootercard {
  background-color: black;
  height: 270px;
  width: 24%;
  float: left;
  margin: 0.5%;
}
.commithome {
  background-image: url("https://wallpaper.dog/large/20342639.jpg");
  width: 100%;
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.delhome {
  position: absolute;
  top: 70%;
  left: 20%;
  right: 30%;
  text-shadow: 4px 4px 8px #2b2b2b;
  transform: translate(-50%, -50%);
  color: white;
}

.homefootercard h1 {
  color: white;
  margin-left: 50px;
}
.homefootercard h3 {
  color: white;
  margin-left: 50px;
}
.homefootercard p {
  color: white;
  margin-left: 50px;
}
.title {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
.homefooter {
  width: 100%;
  margin-top: 50px;
  height: 300px;
  background-color: black;
}
.Info {
  font-style: italic;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Infotools {
  margin-top: 50px;
  margin-left: 200px;
  font-style: italic;
  margin-right: 200px;
}

.homefbutton {
  background-color: #ffffff;

  margin-top: 100px;
  border: none;
  color: rgb(36, 36, 36);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid grey;
}
.button {
  background-color: #ffffff;
  border: none;
  color: rgb(71, 71, 71);
  border: 1px solid grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 300px;
  margin-bottom: 50px;
}
.text1 {
  font-family: Copperplate, Papyrus, fantasy;
}
.all {
  width: 1400px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 300px;
}
.all:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.all h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 70px;

  text-shadow: 3px 3px #b3b1b1;
}
.pencilart {
  width: 1200px;
  height: 260px;
  margin-top: 20px;
  background-color: rgb(184, 184, 181);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pencilarts1 {
  width: 1200px;
  height: 300px;

  background-color: rgb(184, 184, 181);
}
.buy button {
  background-color: #ffffff;
  color: rgb(39, 38, 38);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid grey;
}
.buy button:hover {
  background-color: #000000;

  color: rgb(255, 255, 255);
}
.button:hover {
  background-color: #000000;

  color: rgb(255, 255, 255);
}
.rap {
  border: 1px solid grey;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.rap2 {
  border: 1px solid grey;

  background-repeat: no-repeat;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.rap1 {
  border: 1px solid grey;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: url("https://wallpapercave.com/wp/wp2112195.jpg");
}
.rap1:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.rap2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.rap:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.buy {
  float: right;
  margin: 20px;
}
.Arts1 p {
  margin: 20px;
  float: left;
}
.Arts1 {
  width: 20%;
  height: 260px;
  margin: 20px;
  float: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Art {
  width: 20%;
  height: 220px;
  margin: 20px;
  float: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.p {
  margin-top: 20px;
}

.XX {
  color: rgb(44, 44, 44);
  position: relative;
}

.XY {
  margin-top: 150px;

  color: rgb(44, 44, 44);
  position: relative;
}
