.header {
    text-align: center;
    background-color: white;
    margin: auto;
}

.outer_div{
    background-color: white(232, 240, 247);
}

.table_header-{
    background-color: blue;
}

.table-div {
    background-color: white;
    width: 700px;
    margin: auto;
    padding-top: 20px;
}
.th1 {
    width: 100px;
    background: rgb(184, 177, 177);
    border-color: black;
}

.th2{
    width: 150px;
    background: rgb(184, 177, 177);
    border-color: black;
}

.td1{
    width: 100px;
    background: rgb(223, 218, 218);
    border-color: black;
   margin: 0%;
}

.td2 {
    width: 150px;
    background: rgb(223, 218, 218);
    border-color: black;
}

.td1:hover {
    background-color: rgb(250, 244, 244);
    font-weight: 500;
}
.td2:hover {
    background-color: rgb(250, 244, 244);
    font-weight: 500;
}




